# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          - id: trailing-whitespace
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args: [--fix=auto]
          - id: check-json
          - id: check-toml
          - id: check-yaml
            args: [--unsafe]
          - id: check-added-large-files
          - id: check-merge-conflict
    - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
      rev: v2.15.0
      hooks:
          - id: pretty-format-kotlin
            name: format kotlin
            args: [--autofix, --ktfmt, --ktfmt-style=kotlinlang]
          - id: pretty-format-java
            name: format java
            args: [--autofix]
    - repo: local
      hooks:
          - id: prettier
            name: format markdown, json, yaml, css
            language: node
            entry: prettier --write
            additional_dependencies: [prettier]
            types_or: [markdown, json, yaml, css]
